---
import Layout from "../layouts/Layout.astro";
// @ts-ignore;
import projects from "../../data/projects.yaml";
// @ts-ignore;
import skillCategories from "../../data/skills.yaml";
---

<Layout title="Dmitry Semenov">
    <main>
        <section id="skills">
            <h2>My Skills & Tech Stack</h2>
            <ul>
                {
                    skillCategories.map((category) => (
                        <li class="card">
                            <h3>{category.category}</h3>
                            <ul>
                                {category.skills.map((skill) => (
                                    <li>
                                        <img
                                            src={"/icons/" + skill.icon}
                                            alt="icon"
                                            width="40"
                                            height="40"
                                        />
                                        <span>{skill.text}</span>
                                    </li>
                                ))}
                            </ul>
                        </li>
                    ))
                }
            </ul>
        </section>
        <section id="software">
            <h2>My Software</h2>
            <ul>
                {
                    projects.map((project) => (
                        <li class:list={["project", "card", { narrow: !project.images }]}>
                            <div class="content">
                                <header>
                                    <h3>{project.name}</h3>
                                    <div class="stage yellow" set:html={project.stage} />
                                </header>
                                {project.description && (
                                    <p class="description" set:html={project.description} />
                                )}
                                <ul class="keypoints">
                                    {project.keypoints.map((keypoint) => (
                                        <li set:html={keypoint} />
                                    ))}
                                </ul>
                                {project.links && (
                                    <div class="links">
                                        {project.links.map((link) => (
                                            <a
                                                class:list={["vertical-link", "icon", link.type]}
                                                href={link.href}
                                                target="_blank"
                                            >
                                                <span>{link.text}</span>
                                            </a>
                                        ))}
                                    </div>
                                )}
                            </div>
                            {project.images && (
                                <div class="images">
                                    {project.images.map((image) => (
                                        <div class="wrapper">
                                            <img src={"/images/" + image} alt="screenshot" />
                                        </div>
                                    ))}
                                </div>
                            )}
                        </li>
                    ))
                }
            </ul>
        </section>
        <section id="contact-me">
            <h2>Contact me</h2>
            <form action="https://formspree.io/f/myyojnjw" method="POST">
                <label class="input message card">
                    <textarea name="message" placeholder=" " required></textarea>
                    <span class="label">Message</span>
                </label>
                <label class="input email card">
                    <input type="email" name="email" placeholder=" " required />
                    <span class="label">email@to-reply.to</span>
                </label>
                <button class="submit button icon send" type="submit">Send</button>
            </form>
        </section>
    </main>
</Layout>
