---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Layout from "../layouts/Layout.astro";
// @ts-ignore;
import projects from "../../data/projects.yaml";
// @ts-ignore;
import skillCategories from "../../data/skills.yaml";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <main>
        <section id="skills">
            <h2>My Skills & Tech Stack</h2>
            <ul>
                {
                    skillCategories.map((category) => (
                        <li class="card">
                            <h3>{category.category}</h3>
                            <ul>
                                {category.skills.map((skill) => (
                                    <li>
                                        <img
                                            src={"/icons/" + skill.icon}
                                            alt="icon"
                                            width="40"
                                            height="40"
                                        />
                                        <span>{skill.text}</span>
                                    </li>
                                ))}
                            </ul>
                        </li>
                    ))
                }
            </ul>
        </section>
        <section id="software">
            <h2>My Software</h2>
            <ul>
                {
                    projects.map((project) => (
                        <li class:list={["project", "card", { narrow: !project.images }]}>
                            <div class="content">
                                <header>
                                    <h3>{project.name}</h3>
                                    <div class="stage yellow" set:html={project.stage} />
                                </header>
                                {project.description && (
                                    <p class="description" set:html={project.description} />
                                )}
                                <ul class="keypoints">
                                    {project.keypoints.map((keypoint) => (
                                        <li set:html={keypoint} />
                                    ))}
                                </ul>
                                {project.links && (
                                    <div class="links">
                                        {project.links.map((link) => (
                                            <a
                                                class:list={["vertical-link", "icon", link.type]}
                                                href={link.href}
                                                target="_blank"
                                            >
                                                <span>{link.text}</span>
                                            </a>
                                        ))}
                                    </div>
                                )}
                            </div>
                            {project.images && (
                                <div class="images">
                                    {project.images.map((image) => (
                                        <div class="wrapper">
                                            <img src={"/images/" + image} alt="screenshot" />
                                        </div>
                                    ))}
                                </div>
                            )}
                        </li>
                    ))
                }
            </ul>
        </section>
        <section id="contact-me">
            <h2>Contact me</h2>
            <form action="https://formspree.io/f/myyojnjw" method="POST">
                <label class="input message card">
                    <textarea name="message" placeholder=" " required></textarea>
                    <span class="label">Message</span>
                </label>
                <label class="input email card">
                    <input type="email" name="email" placeholder=" " required />
                    <span class="label">email@to-reply.to</span>
                </label>
                <button class="submit button icon send" type="submit">Send</button>
            </form>
        </section>
    </main>
</Layout>

<style lang="scss">
    @import "../styles/variables.scss";

    #skills > ul > li {
        gap: 1rem;
        flex-basis: 300px;

        h3 {
            text-align: center;
            font-size: 1.375rem;
        }

        ul {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 1fr;
            // display: flex;
            // justify-content: space-between;
            gap: 0.25rem;
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.375rem;

            span {
                text-align: center;
                color: transparentize($color: $color-on-canvas, $amount: 0.25);
                font-size: 0.825rem;
                line-height: 1;
            }
        }
    }

    #software {
        color: transparentize($color: $color-on-canvas, $amount: 0.35);

        .project {
            flex-direction: column;
            flex: 1 1 100%;
            gap: 1rem;

            &.narrow {
                flex-basis: 400px;
            }

            @media (min-width: 750px) {
                flex-direction: row;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: start;
            flex: 1;
            gap: 0.5rem;
            margin-top: -0.25rem;

            header {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding-bottom: 0.25rem;
                border-bottom: 1px solid rgb(0 0 0 / 12%);
            }

            h3 {
                font-size: 1.75rem;
            }

            .stage {
                margin-bottom: 0.125rem;
                font-size: 15px;
                opacity: 0.6;
                font-variant: small-caps;
                text-transform: lowercase;
                font-family: $header-font;
            }

            .keypoints {
                list-style-type: disc;
                padding-left: 1em;
            }

            .links {
                display: flex;
                justify-content: space-evenly;
                gap: 0.25rem;
                margin: -0.5rem;
                margin-top: auto;
                // Fix mouse hover problems caused by anchoring fix
                z-index: 1;
            }
        }

        .images {
            display: flex;
            justify-content: space-evenly;
            gap: 0.75rem;
            flex: 1;

            .wrapper {
                border-radius: 6px;
                background-color: transparentize(black, 0.8);
                box-shadow: $shadow-1;
                overflow: hidden;
            }

            img {
                max-width: 100%;
                max-height: 25rem;
                height: 100%;
            }
        }
    }

    #contact-me form {
        flex: 1 1 480px;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: minmax(200px, auto) auto;
        grid-template-areas: "message message" "email submit";
        gap: 0.75rem;

        .message {
            grid-area: message;
        }

        .email {
            grid-area: email;
        }

        .submit {
            grid-area: submit;
            font-size: 18px;
        }
    }
</style>
