---
import HeaderNavLink from "./HeaderNavLink.astro";
import HeaderSocialLink from "./HeaderSocialLink.astro";

import { SOCIAL_LINKS, NAV_ITEMS } from "../config";

export interface Props {
    fullName: string;
    tagline: string;
    username: string;
}

const { fullName, tagline, username } = Astro.props;
---

<header id="header">
    <div id="intro">
        <h1 class="name">{fullName}</h1>
        <p class="title">{tagline}</p>
        <div class="links">
            {SOCIAL_LINKS.map((link) => <HeaderSocialLink link={link} />)}
        </div>
    </div>
    <div id="header-row">
        <a id="header-logo" href="/">@{username}</a>
        <nav id="header-nav">
            {
                NAV_ITEMS.map((item) => (
                    <HeaderNavLink url={item.url} title={item.title} />
                ))
            }
        </nav>
    </div>
</header>
