---
import { SEO } from "astro-seo";
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
import Header from "../components/header/Header.astro";
import Footer from "../components/Footer.astro";
import "normalize.css";
import "@fontsource/work-sans";
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/600.css";
import "../styles/variables.css";
import "../styles/icon_adjustments.css";
import "../styles/input.scss";
import { GOOGLE_ANALYTICS_ID } from "../config";

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;

const IS_PRODUCTION = import.meta.env.PROD;
---

<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: `${Astro.url.origin}/images/scheenshot.webp`,
        },
        optional: {
          description: description,
          locale: "en_US",
        },
      }}
    />
    {IS_PRODUCTION && <GoogleAnalytics id={GOOGLE_ANALYTICS_ID} partytown />}
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style lang="scss" is:global>
  @use "sass:color";

  html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
  }

  body {
    display: grid;
    grid-template:
      "header header header" max-content
      "  .     main    .   " auto
      "  .    footer   .   " max-content
      / 1fr minmax(auto, var(--max-content-width)) 1fr;
    column-gap: 0.75rem;
    min-height: 100vh;
    line-height: 1.2;
    font-family: var(--primary-font);
    background-color: var(--background-color);
    color: var(--color-on-background);
  }

  main {
    grid-area: main;
    display: flex;
    flex-direction: column;
  }

  section {
    // Adjust anchoring position for header height
    padding-top: calc(var(--header-height) - 4px);
    margin-top: calc(4px - var(--header-height));

    > ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--secondary-font);
    font-weight: 500;
  }

  h2 {
    text-align: center;
    margin: 1.5rem 0;
    font-size: 1.825rem;
    font-family: var(--primary-font);
  }

  h3 {
    color: var(--secondary-color);
  }

  strong {
    font-weight: 600;
  }

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .yellow {
    color: #756303;
  }

  .green {
    color: #29c785;
  }

  .gray {
    color: #666;
  }
</style>
